body{
	font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif
}
.ui-header{
	background-color: #228feb;
	z-index: 1;
}
section{
	position:absolute;
	top:0;
	bottom:0;
	left:0;right:0;
	background:#f8f8f8;
	padding-top:45px;
	&.show{
		z-index:2;
		display:block;
	}
	&.hide{
		z-index:1;
		display:none;
	}
}
section.animated{
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}
.sub-box{
	padding: 15px;
	background-color: #f8f8f8;
	button{
		background-color: #228feb;
		color: #fff;
		text-align: center;
		height: 44px;
		line-height: 44px;
		display: block;
		width: 100%;
		border-radius: 5px;
		&:active{
			background:#2272eb;
		}
	}
}
#login{
	#userInfo{
		background: #fff;
	}
}
#gradeIndex{
	padding-top:45px;
	.return{
		line-height: 45px;
		font-size: 15px;
		font-style: normal;
		-webkit-font-smoothing: antialiased;
		-webkit-text-stroke-width: 0.2px;
		display: block;
		color: #fff;
		position: absolute;
    	left: 10px;
		
	}
	#main{
		.ui-tab-content{
			margin-top: 0;
			.ui-table {
				line-height: 40px;
				text-align: center;
				background-color: #fff;
			}
			li{
				padding-bottom: 20px;
			}
		}
	}
	#selectBox{
		&.animated{
			-webkit-animation-duration: .3s;
    		animation-duration: .3s;
		}
		#selectScroller{
			max-height: 250px;
			overflow:hidden;
			.select-list{
				li a{
					display: block;
					background: rgba(255,255,255,.84);
					background-position: left top;
					background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0));
					background-repeat: repeat-x;
					-webkit-background-size: 100% 1px;
				}
				li:active{
					opacity: 0.84;
				}
			}
		}
		button,.select-list li a{
			font-size: 16px;
			box-sizing: border-box;
			line-height: 40px;
			height: 40px;
			color: #333;
		}
	}
}